@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", "Noto Serif Bengali", sans-serif;
}
.navigation li {
  font-size: 14px;
}
.box-shadow {
  box-shadow: -2px 1px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 23px -6px rgba(0, 0, 0, 0.75);
}
.add-exam-btn {
  border: none;
  background: #22c55e;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 15px;
}
.leaderboard {
  border-bottom: 1px solid #ddd;
}

/* media query for mobile view  */
@media screen and (max-width: 480px) {
  .mobile-view {
    margin-top: 20px;
  }
}
.footer-menu a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
}
/* question section  */
.ques .ques-option {
  padding: 10px;
}
.ques-option .option {
  background: #f9fafb;
  border-radius: 80px;
}
.ques-option .option:hover {
  background: #ddd;
  cursor: pointer;
}
