.selected {
  background-color: #000;
  color: #fff;
}
.notSelected {
  background-color: #eff7c5;
  color: #000;
}
.res {
  margin-right: 10rem;
}

@media screen and (max-width: 500px) {
  .res {
    margin-right: 0px;
  }
  .reS {
    margin-left: 2px;
  }
}
