@model UTest.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/UTest_layout.cshtml";
}
<!DOCTYPE html>
<html lang="en" lang="bn">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/bootstrap.css" />
    <link rel="stylesheet" href="./styles/login.css" />
    <link rel="stylesheet" href=".styles/fontawesome.min.css" />
    <link rel="stylesheet" href="./styles/all.min.css" />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="login-form p-md-4">
        <h2 class="text-dark text-center mt-2 p-4 fw-bold"><a href="/index.html" style="text-decoration: none;color:#000">U<span class="text-warning">Test</a></span></h2>

        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid p-4" src="/images/login.svg" />
            </div>
            <div class="col-md-6">
                <form class="login p-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "cntrol col-md-12" } })
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "cntrol col-md-12" } })
                        <div class="p-2 forgotten-pass " style="text-align: right;">
                            <a href="" class="text-white">Forgot Password? </a></span>
                        </div>
                        <input type="submit" value="Login" name="login">
                        <p class="text-center p-2">OR</p>
                        <button type="submit" class="btn btn-primary w-100">
                            Continue with Facebook
                        </button>
                        <h6 class="text-center p-2" style="color:#000">Don't have an account?<a href="/signup.html" style="text-decoration: none;"> Register</a></h6>
                </form>
            </div>

        </div>
    </div>
    <!-- login form start  -->
    <!-- login form end  -->
    </div>
</body>
</html>



