
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("_CommonLinks")
    <link rel="stylesheet" href="~/Static/css/mock.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Mock</title>
</head>
<body>
    @Html.Partial("_NavbarAfterLogin")
    <!-- main section start  -->
    <h4 class="container mt-3 text-center p-4" style="font-size:30px; line-height: 28px;font-weight: 700;">Create Your Own Exam</h4>

    <section class="container mt-4 shadow">
        @using (Html.BeginForm("MockExam", "Exam"))
        {
            <form method="POST">
                <div style="background: #fff;" class="">
                    <h6 class=" mt-3 p-2">প্রশ্নের ধরন</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">সকল</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">পূর্বের ভুল/দাগানো</label>
                    </div>
                    <h6 class=" mt-3">বিষয়</h6>
                    @foreach (var item in ViewBag.subjects)
                    {<!-- Subject starts -->
                        <div class="d-flex flex-column w-full p-2 mb-3 space-y-1 dark:text-white dark:bg-gray-900 rounded-lg bg-green-50">
                            <div x-show="sub.children" class="d-grid justify-content-between gap-3 text-sm md:d-grid-cols-2" style="background-color:#f7ff0385">
                                <div class="space-y-1">
                                    <label class="d-flex align-items-center space-x-2">
                                        <input type="checkbox"
                                               id="topics" class="topics" name="topics" value="phys_1">
                                        <span style="margin-left: 1rem;">@item.Title</span>

                                    </label>

                                    <template x-for="grandchild in child.children" :key="grandchild.id">
                                        <label class="d-flex align-items-center ps-4 space-x-2">
                                            <input type="checkbox" name="topics" class="topics">
                                        </label>
                                    </template>
                                </div>
                            </div>
                            <label for="numOfQuestions" class="form-label">
                                প্রশ্নের সংখ্যা
                            </label>
                            <div>
                                <input type="number" class="form-control" name="numOfQuestions">
                            </div>
                        </div>
                        <!-- Subject ends -->

                    }


                    <h6 class=" mt-3">সময়</h6>
                    <div class="row">
                        <div class="col-md-11">
                            <input type="number" class="form-control" id="exampleFormControlInput1">

                        </div>
                        <div class="col-md-1">
                            <h6 class="mt-3">মিনিট</h6>
                        </div>
                    </div>
                </div>
                <h6 class=" mt-3">নেগেটিভ মারকিং</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">হ্যাঁ</label>
                </div>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">না</label>
                </div>

                <div style="text-align: center;" class=" mt-3 pb-3">
                    <button type="submit" class="btn btn-warning fw-bold">শুরু করুন</button>
                </div>
            </form>
        }
    </section>

    @Html.Partial("_Footer")
    <script src="~/Static/js/bootstrap.js"></script>
</body>
</html>
