body {
  /* background: #000; */
  font-family: "Inter", "Noto Serif Bengali", sans-serif;
 
}
/* login form  */
.login-form {
  overflow: hidden;
}
.form-bg {
  background: #111827;
  border-radius: 10px;
}
.forgotten-pass a {
  text-decoration: none;
}
.forgotten-pass a:hover {
  color: #ddd !important;
}
.btn-login {
  background: #4a43d8;
}
.btn-login:hover {
  background: #0d00f1;
}
.btn-login {
  background: rgb(228, 161, 16);
  color: #fff;
  font-weight: 700;
}
.btn-login:hover {
  background: rgb(252, 200, 89);
  color: #fff;
  font-weight: 700;
}
#id_1{
    display:inline-block;
    position:center;
}