
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" lang="bn">
<head>
    @Html.Partial("_CommonLinks")
    <link rel="stylesheet" href="~/Static/css/login.css" />
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-form p-md-4">
        <!-- signup form start  -->
        <div class="signUp-form">
            <h2 class="text-dark text-center mt-2 p-4 fw-bold"><a href="/index.html" style="text-decoration: none;color:#000">U<span class="text-warning">Test</a></span></h2>

            <div class="row">
                <div class="col-md-6 p-3">
                    <img class="img-fluid" src="~/Static/images/signup.svg" />
                </div>
                <div class="col-md-6">
                    <form class="login p-5">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp" />
                            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                            <input type="text"
                                   class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp" />
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Path</label>
                            <select class="form-select" aria-label="Default select example">
                                <option value="1">HSC 21</option>
                                <option value="2">HSC 22</option>
                                <option value="3">SSC</option>
                                <option value="4">Admission</option>
                            </select>
                            <button type="submit" class="btn btn-warning  w-100 mt-3 text-white fw-bold">Sign Up</button>
                            <p class="text-center p-2">OR</p>
                            <button type="button" class="btn btn-lg w-100 btn-block">
                                <a class="btn btn-outline-dark" href="#" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Sign up with Google
                                </a>
                            </button>

                            <h6 class="text-center p-2" style="color:#000">Already have an account?<a href="~/Home/Login" style="text-decoration: none;"> Login</a></h6>
                    </form>
                </div>

            </div>
        </div>
        <!-- signup form end  -->

    </div>
</body>
</html>

